{% extends "store/base.html" %}
{% load static %}

{% block content %}
<div class="container my-5">
  <div class="row breadcrumb-row">
    <div class="col-md-12">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Login</li>
            </ol>
        </nav>
    </div>
</div>
<div style="height:30px"></div>
<div class="row">
    <div class="col-md-5 login-container">
      <h3 class="mb-4">Customers Login</h3>
      <form method="post" novalidate>
        {% csrf_token %}
        {% if form.non_field_errors %}
          <div class="alert alert-danger">{{ form.non_field_errors }}</div>
        {% endif %}
        <input type="hidden" name="next" value="{{ next|default_if_none:'' }}" />
        <div class="mb-3">
          <label class="form-label">Username</label>
          {{ form.username }}
          {{ form.username.errors }}
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          {{ form.password }}
          {{ form.password.errors }}
        </div>
        <button type="submit" class="btn btn-primary">Login</button>        
      </form>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5 register-container">
        <h3>New Customers Register</h3>
        <a class="btn btn-primary register-btn" href="{% url 'signup' %}">Register Now!</a>
    </div>
  </div> 
</div>
{% endblock %}


